Test/Service References/ServiceReference2/StartApprovalProcess1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://HRONLib.Contracts/2017/04" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HRONLib.Contracts/2017/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://HRONLib.Contracts/2017/04/Imports">
      <xsd:import schemaLocation="http://localhost:50728/Activities/Approve/StartApprovalProcess.xamlx?xsd=xsd0" namespace="http://HRONLib.Contracts/2017/04" />
      <xsd:import schemaLocation="http://localhost:50728/Activities/Approve/StartApprovalProcess.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50728/Activities/Approve/StartApprovalProcess.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRWorkflowService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApprovalService_startApprovalProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:startApprovalProcess" />
  </wsdl:message>
  <wsdl:message name="IApprovalService_startApprovalProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:startApprovalProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IApprovalService_sendApprovalResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:sendApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IApprovalService_sendApprovalResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendApprovalResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IApprovalService">
    <wsdl:operation name="startApprovalProcess">
      <wsdl:input wsaw:Action="http://HRONLib.Contracts/2017/04/IApprovalService/startApprovalProcess" message="tns:IApprovalService_startApprovalProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://HRONLib.Contracts/2017/04/IApprovalService/startApprovalProcessResponse" message="tns:IApprovalService_startApprovalProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendApprovalResponse">
      <wsdl:input wsaw:Action="http://HRONLib.Contracts/2017/04/IApprovalService/sendApprovalResponse" message="tns:IApprovalService_sendApprovalResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://HRONLib.Contracts/2017/04/IApprovalService/sendApprovalResponseResponse" message="tns:IApprovalService_sendApprovalResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>