HRONWeb/Service References/ApprovalInstances/GetApprovalInstances1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://HRONLib.Contracts/2017/04" elementFormDefault="qualified" targetNamespace="http://HRONLib.Contracts/2017/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50728/Activities/Approve/GetApprovalInstances.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRONLib" />
  <xs:element name="getApprovalInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApprovalInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HRONLib" minOccurs="0" name="getApprovalInstancesResult" nillable="true" type="q1:ArrayOfWFApprovals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>