Test/Service References/documentService/documentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://HRONLib.Contracts/2017/04" elementFormDefault="qualified" targetNamespace="http://HRONLib.Contracts/2017/04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50728/Activities/Documentation/documentService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRONLib" />
  <xs:element name="addDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HRONLib" minOccurs="0" name="addDocumentResult" nillable="true" type="q1:EmplFiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>