HRONWeb/Service References/ApprovalWF/StartApprovalProcessWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HRWorkflowService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRWorkflowService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50728/Activities/Approve/StartApprovalProcessWCF.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="WFIdentification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WFID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WFIdentification" nillable="true" type="tns:WFIdentification" />
</xs:schema>