HRON/Service References/EmployeeOnBoarding/EmployeeOnBoardingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://HRONLib.Contracts/2017/04" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HRONLib.Contracts/2017/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://HRONLib.Contracts/2017/04/Imports">
      <xsd:import schemaLocation="http://localhost:50728/EmployeeOnBoardingService.xamlx?xsd=xsd0" namespace="http://HRONLib.Contracts/2017/04" />
      <xsd:import schemaLocation="http://localhost:50728/EmployeeOnBoardingService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50728/EmployeeOnBoardingService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HRONLib" />
      <xsd:import schemaLocation="http://localhost:50728/EmployeeOnBoardingService.xamlx?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnBoardingService_StartProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:StartProcess" />
  </wsdl:message>
  <wsdl:message name="IOnBoardingService_StartProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IOnBoardingService_getWorkflowStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:getWorkflowStatus" />
  </wsdl:message>
  <wsdl:message name="IOnBoardingService_getWorkflowStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWorkflowStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IOnBoardingService">
    <wsdl:operation name="StartProcess">
      <wsdl:input wsaw:Action="http://HRONLib.Contracts/2017/04/IOnBoardingService/StartProcess" message="tns:IOnBoardingService_StartProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://HRONLib.Contracts/2017/04/IOnBoardingService/StartProcessResponse" message="tns:IOnBoardingService_StartProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWorkflowStatus">
      <wsdl:input wsaw:Action="http://HRONLib.Contracts/2017/04/IOnBoardingService/getWorkflowStatus" message="tns:IOnBoardingService_getWorkflowStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://HRONLib.Contracts/2017/04/IOnBoardingService/getWorkflowStatusResponse" message="tns:IOnBoardingService_getWorkflowStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>